:root {
    --base-font-size: 18px;
    --h1-size: calc(var(--base-font-size) * 5);
    --h2-size: calc(var(--base-font-size) * 3);
    --h3-size: calc(var(--base-font-size) * 1.5);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--base-font-size);
}

body {
    background-color: #f1d9cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

h1 {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-size: var(--h1-size);
    text-align: center;
    margin: 0;
    color: #501080;
}

h2 {
    font-size: var(--h2-size);
    margin: 0;
    text-align: center;
}

h3 {
    font-size: var(--h3-size);
    margin: 0;
}

.name {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    color: #501080;
}

.link {
    text-align: center;
}

a {
    color: #000000;
}

img {
    width: 100%;
    border: 2px solid #000000;
}

.infocontainer {
    width: min(1000px, 90%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.writtencontainer {
    width: min(2000px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uisection {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    margin: 20px;
    padding: 40px;
    filter: drop-shadow(0px 0px 40px #50108030);
    border: 2px solid #000000;
}

@media (max-width: 1000px) {
    h1 {
        font-size: var(--h2-size);
    }
    .infocontainer {
        flex-direction: column;
    }
    .uisection {
        width: 85%;
    }
}